@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Josefin+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fcccef;
  overflow-x: hidden;
}

.section-title {
  padding: 2rem;
}

.section-title h2 {
  font-size: 1.75rem;
  color: #f6ccee;
  font-weight: bold;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 7.5rem;
  height: 0.0625rem;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 2.5rem;
  height: 0.1875rem;
  background: #d700ff;
  bottom: 0;
  left: calc(50% - 20px);
}


/* Thanks page */
.thanks-container {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin: 5rem;
  padding: 5rem;
}

.thanks-container .icon {
  font-size: 3rem;
}

.thanks-container h1 {
  margin: 1.5rem 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.thanks-container h3 {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* loader */
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #454545;
}

::-webkit-scrollbar {
  width: 0.375rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f6ccee;
  border-radius: 0.625rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fcccef;
}